@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');

body{
    background: linear-gradient(to left top, blue, red) fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0;
    margin-top: 30px;
    overflow-x: hidden;
}

#nav_bar{
    background-color: rgb(53, 53, 53);
    font-size: 18px;
    font-family: 'Noto Serif', serif;
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

#nav_bar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 45px;
    text-decoration: none;
    margin:5px;
}

#nav_bar a:hover {
    font-weight: bold;
    background: #ddd;
    color: black;
}

#nav_login{
    position: absolute;
    right: 0%;
    }

#friends_main{
    margin:90px auto 0px auto;
    width: 40%;
    text-align: center;
    background-color: rgb(53, 53, 53);
    padding: 15px;
    
    
}

#new_friends{
    display: grid;
    grid-template-columns: 80% 20%;
    
}

#new_friend{
    margin-left:10px;
    margin-right: 10px;
    font-size: 35px;
}

#add_friend{
    font-size: 35px;
}  

#friends{
    margin:10px;
    color: white;
    font-size: 25px;
}

.friend{
    display: grid;
    grid-template-columns: 80% 20%;
    border: solid white 3px;
    margin: 5px;
}

.info{
    display: grid;
    grid-template-rows: 60% 40%;
}

h1, h2{
    padding: 3px;
    margin: 3px;
}

.remove_button{
    background-color: red;
    margin: 40% 20% 40% 20%;
}